@font-face {
  font-family: 'Geist-Regular';
  src: url('path/to/Geist-Regular.woff2') format('woff2');
}

:root {
  ---gray: rgb(240, 240, 240);
}
* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
body{
  margin: 0;
  font-family: 'Geist-Regular', sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}



.player h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  
}
.item{

}
#item{
  border-top: 1px solid var(---gray);
   padding:16px; 
   display: flex; 
   gap: 8px;
   align-items: center;
   text-decoration:none;
   color: black;
   font-size: 16px !important;

}
#item:hover{
  cursor: pointer;
  background-color: rgb(244, 244, 244);
}
.intro{
  
  padding: 16px;
}
.intro-title{
  margin: 0;
  font-size: 18px;
}
.intro-desc{
  margin: 2px 0;
  display: inline-block;
  font-size: 14px;
  color: rgb(77, 77, 77);
}
.navbar{
  
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 8px 16px;
  /* box-shadow: 0 0 4px rgba(0,0,0,0.125); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 70;
  width: 100%;
}
.rec-nf{
  height: 90vh;
  display: flex;
  align-items: center;
  width: 350px;
  margin:auto;
}
.red-nf-img{
  height: 230px
}
.btn{
  transition: .1s ease-in;
  font-size: 16px;
  padding: 12px 16px;
  /* border-radius: 10px; */
  border: 1px solid #000000;
  background-color:#000000;
  color: white;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px !important;
}
.btn-outline{
  transition: .1s ease-in;
  font-size: 15px;
  padding: 12px 20px;
  /* border-radius: 10px; */
  border: 1px solid lightgray;
  background-color:white;
  color: black;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px !important;
}
.btn:hover{
  background-color:#0f0f0f;
  color: white;
}
input{
  border-radius: 10px !important;
}
.logo{

}
@media(max-width: 992px){
  .player-container{
    width: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .player{
    flex-grow: 1;
    padding: 1vmax;
    user-select: none;
    font-size: 18px;
    text-rendering: optimizeLegibility;
  }
  .sidebar{
    flex-grow: 1;
    
    /* background-color: red; */
  }
}
@media(min-width: 992px){
  .player-container{
    width: auto;
    display: flex;
    justify-content: center;
  }
  .player{
    width: 60%;
    flex-grow: 10;
    padding: 2vmax 3vmax;
    user-select: none;
    font-size: 18px;
    text-rendering: optimizeLegibility;
   
  }
  .sidebar{
    width: 330px;
    flex-grow: 1;
    position: sticky;
    top:0;
    height: 100vh;
    overflow: auto;
    align-self: flex-start;
    border-right:1px solid var(---gray);
    z-index: 10;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* background-color: red; */
  }
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  
}
.active{
  background-color: var(---gray);
  color: rgb(0, 0, 0) !important;
}
.active:hover{
  background-color: #230050 !important;
  color: white !important;
}
.test{
  background-color: red;
  padding: 20px;
  border:1px solid red;
}
.back{
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}